@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-method ="post" asp-action ="result">

    <p>Enter First Name:</p>
    <input type ="text" name="name"/>

    <p>Enter Last Name:</p>
    <input type="text" name="lastname" />

    <p>Enter Email:</p>
    <input type ="text" email ="email"</p>

    <p>Enter Password:</p>
    <input type ="password" password="password"/p>

    <input type="submit" />
</form>