
@{
    ViewData["Title"] = "Privacy Policy(not worth reading)";
}
<h1>@ViewData["Title"]</h1>

<p>All information provided can, could, would and/or will be sold at our discretion. If in fact, we receive legal notice due to upon status of successful attempt to deceive. Notice will be given at which time all entities involved shall accord and satisfy acknowledgement.  </p>
